[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=KCModule

X-KDE-Library=kcm_kwin4_effect_scaleup
X-KDE-ParentComponents=kwin4_effect_scaleup
X-KDE-PluginKeyword=scaleup

Name=Scale Up
